[access "refs/*"]
  read = group openstack/heat-translator-core
  owner = group openstack/heat-translator-ptl
  owner = group rdo-superusers
[access "refs/heads/*"]
  label-Code-Review = -2..+2 group openstack/heat-translator-core
  label-Code-Review = -2..+2 group openstack/heat-translator-ptl
  label-Code-Review = -2..+2 group rdo-provenpackagers
  label-Code-Review = -2..+2 group rdo-superusers
  submit = group openstack/heat-translator-ptl
  submit = group rdo-superusers
  read = group Registered Users
  read = group openstack/heat-translator-core
  read = group rdo-provenpackagers
  abandon = group openstack/heat-translator-core
  label-Verified = -2..+2 group openstack/heat-translator-ptl
  label-Verified = -2..+2 group rdo-superusers
  label-Workflow = -1..+0 group Registered Users
  label-Workflow = -1..+1 group openstack/heat-translator-core
  label-Workflow = -1..+1 group openstack/heat-translator-ptl
  label-Workflow = -1..+1 group rdo-provenpackagers
[access "refs/meta/config"]
  read = group Registered Users
  read = group openstack/heat-translator-core
  read = group rdo-provenpackagers
[receive]
  requireChangeId = true
[submit]
  mergeContent = false
  action = rebase if necessary
[project]
        description = Packaging of upstream heat-translator
